<div class="card" style="margin-left: 300px;">
<div>
  <input
    type="text"
    (input)="onQuickFilterChanged()"
    id="quickFilter"
    placeholder="search"
  />
  
<button (click)="clearSelection()" >Clear Selection</button>

  <button
    (click)="onBtExport()"
    style="margin-left:auto;font-weight: bold;"
  >
    Export to Excel
  </button>
  <button
    (click)="onBtCVSExport()"
    style="margin-left:auto;font-weight: bold;"
  >
    Export to CSV
  </button>
</div>
<ag-grid-angular
   class="ag-theme-alpine"
   style="height:500px;width:500px;"

   [columnDefs]="colDefs"
   [defaultColDef]="defaultColDef"
   [rowSelection]="rowSelection"
   [suppressRowClickSelection]="true"
   [enableRangeSelection]="true" 
   [rowData]="rowData"
   [pagination]="true"
   (firstDataRendered)="onFirstDataRendered($event)"
   (gridReady)="onGridReady($event)"
   [sideBar]="true"
 ></ag-grid-angular>
</div>